.section2 {
  border: 1px solid #49e9ff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 40px;
}

/* .note-wrapper {
	max-width: 530px;
} */

.note-wrapper h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

.note-wrapper p {
  font-size: 1rem;
  font-family: "quantico", sans-serif;
  text-align: left;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.file-submit-wrapper {
  width: 400px;
  height: 100px;
  border: 1px solid hsla(187, 100%, 64%, 0.6);
  display: flex;
  padding: 1.5rem;
  text-align: left;
}
.text-input {
  background-color: transparent;
  border-bottom: 1px solid white;
  outline: none;
}
.text-input:active {
  border-bottom: 2px solid white;
}
.submit-btn {
  border: 1px solid hsla(187, 100%, 64%, 0.6);
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  background-color: rgba(90, 144, 238, 0.6);
}
.submit-btn:active,
.submit-btn:hover {
  background-color: rgba(45, 93, 176, 0.6);
  transform: translate(10);
}
.file-submit-wrapper {
  font-weight: 300;
  font-family: "quantico", sans-serif;
}

@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
  .section2 {
    flex-direction: column;
    align-items: flex-start;
  }

  .file-submit-wrapper {
    margin-left: 0;
    margin-top: 1rem;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .file-submit-wrapper {
    width: 100%;
  }
}
@media (max-width: 640px) {
}
