.profile-page {
  position: absolute;
  top: 30vh;
  z-index: 111111;
  left: 30%;
  text-align: center;
  align-items: center;
}
.profile {
  font-family: "batman_forever";
  font-size: large;
  width: 100%;
  background-color: black;
}
.edit-icon {
  cursor: pointer;
  position: absolute;
  margin-left: 540px;
  margin-top: 10px;
  font-size: 30px;
}
.save-icon {
  cursor: pointer;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 30px;
}
.table {
  background-color: black;
  width: 110%;
  border: 1.29px solid rgba(73, 233, 255, 0.58);
  border-collapse: collapse;
  text-align: center;
  align-items: center;
  color: white;
}
.table-cell {
  padding: 10px;
}
.input {
  text-align: center;
  align-items: center;
  font-family: "batman_forever";
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: #000;
  color: white;
}
.input:focus {
  outline: none;
  border-bottom: 1px solid #283fa3;
}
.input:disabled {
  border-bottom: none;
  background-color: #000;
  color: wheat;
}

@media (max-width:1100px){
  .profile-page{
    left: 20%;
  }
}
@media (max-width:910px){
  .profile-page{
    left: 15%;
  }
}
@media (max-width:770px){
  .profile-page{
    left: 10%;
  }
  .table{
    width: 70%  ;
  }
  .edit-icon {
    right: 20px;
  }
}
@media (max-width:655px) {
  .profile-page{
    left: 7vw;
  }
  .table{
    font-size: 15px;
  }
}
@media (max-width:570px) {
  .profile-page{
    left: 2%;
  }
  .table{
    transform: scale(.9);
  }
  .edit-icon {
    z-index:1111;
    right: 25px;
    top: 20px;
  }
}