.profile-page {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 2rem;
}
.profile {
  font-family: "batman_forever";
  font-size: large;
  width: 100%;
}

@media (max-width: 480px) {
  .profile-page {
    margin-top: 25rem;
  }
}
