.contact-logo{
  cursor: pointer;

}
.contact-logo img{
  position: absolute;
  right:20px;
  bottom:0px;
  border-radius: 50%;
  text-align: center;
  width:70px;
}
@media (max-width: 500px) {
  .contact-logo img{
    bottom:54px;
    width:60px;
  }
}
