.donate {
  text-align: center;
  font-family: "batman_forever";
  color: white;
  font-size: 20px;
  height: 40px;
  /* width: 7%; */
  position: absolute;
  left: 3vw;
  top: 91vh;
  background: linear-gradient(
      270deg,
      rgba(73, 233, 255, 0.58) 18.78%,
      rgba(255, 255, 255, 0) 51.39%
    ),
    linear-gradient(
      90deg,
      rgba(73, 233, 255, 0.58) 16.29%,
      rgba(255, 255, 255, 0) 48.61%
    );
  box-shadow: none;
  border-radius: 1px;

  --aug-border: initial;
  --aug-border-all: 1.5px;
  --aug-border-bg: #49e9ff;

  --aug-clip-tl1: initial;
  --aug-tl1: 15px;

  --aug-clip-br1: initial;
  --aug-br1: 15px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}
