@media (max-width: 400px) {
  .navbarg {
    height: 70px;
    background-color: black;
    margin-top: 46px;
    margin-left: 30px;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 42px;
    right: 13px;
  }

  .navbar-link {
    display: none;
  }

  .navbar-title {
    font-size: 90%;
    font-weight: bolder;
    z-index: 1000;
    margin-right: -80px;
    margin-top: -23px;
  }

  .logo {
    display: block;
    transform: scale(0.6);
    position: absolute;
    left: 10px;
    top: -24px;
  }
  .menu-title {
    position: fixed;
    left: 24%;
    top: 60px;
    font-family: "batman_forever";
    font-size: large;
    display: flex;
  }
  .menu {
    width: 85%;
    border: 1px solid rgba(73, 233, 255, 0.58);
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 35px;
    position: absolute;
    z-index: 1000;
  }
  .menu-list {
    list-style: none;
    position: relative;
    text-align: center;
    font-family: "batman_forever";
    font-size: 12px;
    margin-top: 20px;
    line-height: 60px;
  }
}

@media (max-width: 576px) and (min-width: 400px) {
  .navbarg {
    height: 70px;
    background-color: black;
    margin-top: 46px;
    margin-left: 30px;
  }

  .no2 {
    width: 70%;
    position: absolute;
    top: -30px;
    left: -20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 42px;
    right: 13px;
  }

  .navbar-link {
    display: none;
  }

  .navbar-title {
    font-size: 100%;
    font-weight: bolder;
    z-index: 1000;
    margin-right: -80px;
    margin-top: -23px;
  }

  .logo {
    transform: scale(0.7);
    position: absolute;
    left: 10px;
    top: -25px;
  }
  .menu-title {
    position: fixed;
    left: 24%;
    top: 60px;
    font-family: "batman_forever";
    font-size: large;
    display: flex;
  }
  .menu {
    width: 90%;
    border: 1px solid rgba(73, 233, 255, 0.58);
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 35px;
    position: absolute;
    z-index: 1000;
  }
}

@media (max-width: 1000px) and (min-width: 576px) {
  .navbarg {
    height: 70px;
    background-color: black;
    margin-top: 46px;
    margin-left: 30px;
  }

  .no2 {
    width: 70%;
    position: absolute;
    top: -30px;
    left: -20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 42px;
    right: 13px;
  }
  .navbar {
    margin-left: 20px;
  }
  .no2 {
    width: 90%;
    position: absolute;
    top: -30px;
    left: -20px;
    padding-right: 20px;
  }

  .logo {
    transform: scale(0.8);
    left: 50px;
    top: -18px;
  }

  /* NAVBAR */
  .navbar {
    font-family: "batman_forever";
    color: white;
  }

  .navbar-list {
    list-style: none;
    display: flex;
    margin-top: 45px;
    justify-content: space-evenly;
  }
  .navbar-link {
    font-size: 10px;
  }
  .navbar-title {
    font-size: 16px;
    font-weight: bolder;
    z-index: 1000;
    margin-right: -20px;
  }
  .navbar-link:hover {
    font-weight: bolder;
  }

  .hamburger {
    display: none;
  }
  .menu-title {
    position: fixed;
    left: 21%;
    top: 60px;
    font-family: "batman_forever";
    font-size: large;
    display: flex;
  }
  .menu {
    width: 90%;
    border: 1px solid rgba(73, 233, 255, 0.58);
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 35px;
    position: absolute;
    z-index: 1000;
  }
}
@media (min-width: 992px) {
  .navbarg {
    height: 110px;
    background-color: black;
    margin-top: 46px;
    margin-left: 30px;
  }

  .no2 {
    width: 92%;
    position: absolute;
    top: -30px;
    left: -20px;
  }
  .logo {
    left: 80px;
    top: -16px;
  }

  /* NAVBAR */
  .navbar {
    font-family: "batman_forever";
    color: white;
  }

  .navbar-list {
    list-style: none;
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
  }
  .navbar-link {
    font-size: small;
  }
  .navbar-title {
    font-size: 20px;
    font-weight: bolder;
    z-index: 1000;
    margin-right: -20px;
  }
  .navbar-link:hover {
    font-weight: bolder;
  }

  .hamburger {
    display: none;
  }
  .menu-title {
    position: fixed;
    left: 21%;
    top: 60px;
    font-family: "batman_forever";
    font-size: large;
    display: flex;
  }
}
