.main {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  width: 100vw;
  background: linear-gradient(to bottom, black 30%, transparent 100%);
  z-index: 111;
  position: absolute;
}
/* NAVBAR */
.navbarg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* width: 100vw; */
  /* background: linear-gradient(to top, transparent 0%, black 100%); */
}

.navbarsvg {
  background-color: transparent;
  z-index: 1000;
}

.login_button_container {
  margin: 0.8rem 4rem 0rem 4rem;
  z-index: 100;
}

.logo {
  cursor: pointer;
}

.navbar {
  font-family: "batman_forever";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.navbar-title {
  font-size: 30px;
  font-weight: bolder;
  z-index: 1000;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  word-wrap: none;
  /* position: relative; */
  left: -100px;
}

.navbar-link {
  font-size: 1rem;
  margin-left: 40px;
}
.navbar-link-highlight {
  color: #49e9ff;
}

.navbar-link:hover {
  /* font-weight: bolder; */
  /* letter-spacing: 2px; */
  text-shadow: 0px 0px 10px #00e0ff;
}

.hamburger {
  display: none;
}
.navbar_content {
  width: 45%;
}

@media (max-width: 1250px) {
  .navbar-link {
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .navbar {
    width: 45%;
  }
  .navbarsvg {
    display: none;
  }

  .hamburger {
    width: 12%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .close {
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 1000;
  }

  .menu {
    width: 90vw;
    background-color: black;
    color: white;
    border: 2px solid rgba(73, 233, 255, 0.58);
    border-radius: 10px;
    position: absolute;
    top: 60px;
    z-index: 100000;
  }

  .logo_menu {
    width: 18%;
    background-color: black;
    border-radius: 50%;
    position: relative;
    left: -8px;
    top: -10px;
    z-index: 9999;
    cursor: pointer;
  }

  .menu-list {
    list-style: none;
    position: relative;
    text-align: center;
    font-family: "batman_forever";
    font-size: 13px;
    margin-top: 20px;
    line-height: 60px;
  }

  .menu-link:hover {
    font-weight: bolder;
    text-shadow: #49e9ff;
    color: red;
  }
  .navbar-link {
    display: none;
  }
  .menu-title {
    text-align: center;
    font-family: "batman_forever";
    font-size: 200%;
    position: relative;
    top: -100px;
  }
  .login {
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-title {
    font-size: 1.8rem;
    width: 100%;
  }
  .navbar_content {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar-title {
    font-size: 1.5rem;
    width: 100%;
  }
}

@media (max-width: 580px) {
  .login_button_container {
    margin: 0.8rem 2rem 0rem 0rem;
  }
  .navbar-title {
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) {
  .navbar-title {
    font-size: 1.2rem;
    z-index: 1000;
  }
  .menu-title {
    font-size: 1.5rem;
    top: -30px;
  }
  .logo {
    left: 25px;
    top: 30px;
    width: 60px;
  }
  .circle {
    width: 50px;
    height: 50px;
  }
}
