.container {
  width: 100px;
  height: 100px;
  padding: 5px;
  position: relative;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.0005, #49e9ff),
    color-stop(0.06, rgba(0, 0, 0, 0.582))
  );
  border-radius: 50%;
}
.container img {
  position: absolute;
}
.container div {
  color: #fff;
  font-size: 20px;
  text-align: center;

  min-height: 100%;
  border-radius: 50%;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

.test {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;

  margin-top: -97px;
  margin-left: 5px;
}
.test img {
  /* width: 250px;
  height: 250px; */
  border-radius: 50%;
  position: absolute;
  transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
}

@media (max-width: 600px) {
  .container {
    height: 70px;
    width: 70px;
  }
  .test {
    height: 60px;
    width: 60px;
  }
  .test img {
    transform: scale(0.8);
    margin-top: 10px;
  }
}
