.style2::-webkit-scrollbar-track {
  border-radius: 10px;
}

.style2::-webkit-scrollbar {
  width: 7px;
  min-height: 30px;
  max-height: 30px;
}

.style2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #49e9ffe8;
}

.next,
.prev {
  font-size: 1.5rem;
  color: #49e9ffe8;
  position: relative;
  top: -15px;
}
.next {
  margin-left: 15px;
}
.prev {
  margin-right: 15px;
}
.backbtn {
  position: relative;
  top: -350px;
  left: -100px;
  font-size: 1.5rem;
}

.contact_table {
  font-family: "quantico";
  font-size: 1rem;
  margin: 50px 0px 20px 10%;
}

.contact_table td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}
.main {
  background-size: cover;
  position: absolute;
  top: 300px;
  color: white;
  font-family: "batman_forever";
  margin-top: -30px;
  padding-bottom: 80px;
}

.main2 {
  width: 60%;
  background: rgba(0, 0, 0, 0.76);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin-top: -10px;
  border-radius: 25px;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, rgb(0, 238, 255), rgb(255, 0, 255));
  border-image-slice: 1;
  /* margin-left: 30%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  min-height: 400px;
}

.list {
  position: fixed;
  margin: -30px 0 80px 30px;
  border-radius: 5px;
}

.content {
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.66);
}

.content button {
  border: 1px solid #49e9ff;
  padding: 5px 10px;
  border-radius: 5px;
  color: gray;
}

.content_words {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-top: "30px";
}
.titles {
  text-decoration: none;
  display: block;
  margin: 3px 8px;
}
.eventname {
  font-size: 15px;
}
.eventname h2 {
  font-size: 25px;
}
.des {
  font-family: "quantico";
  font-size: 0.9rem;
  margin-top: 8px;
}

.eventdetails {
  margin-top: 20px;
}

.main ul {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px;
  width: 300px;
}

.main li {
  outline: none;
  list-style: none;
  padding: 0 40.5px;
  line-height: 64px;
  margin-top: 60px;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
}

.button,
.buttonview {
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  padding: 10px;
  --aug-border: initial;
  --aug-border-all: 0.5px;
  /* --aug-border-bg: #49e9ff; */

  --aug-clip-tl1: initial;
  --aug-tl1: 10px;
  --aug-clip-bl1: initial;
  --aug-bl1: 10px;
  --aug-clip-tr1: initial;
  --aug-tr1: 10px;
  --aug-clip-br1: initial;
  --aug-br1: 10px;

  --aug-clip-t1: initial;
  --aug-clip-t2: initial;
  --aug-t1: 6px;
  --aug-t2: 6px;
  --aug-t-extend1: 20%;
  --aug-clip-b1: initial;
  --aug-clip-b2: initial;
  --aug-b-extend1: 20%;
  --aug-b1: 6px;
  --aug-b2: 6px;
  /* background-image: linear-gradient(
    to right,
    rgb(146, 192, 252),
    rgba(146, 192, 252, 0.795),
    rgba(146, 192, 252, 0.582),
    rgba(146, 192, 252, 0.342),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(146, 192, 252, 0.342),
    rgba(146, 192, 252, 0.582),
    rgba(146, 192, 252, 0.795),
    rgb(146, 192, 252)
  );
  box-shadow: 0px 2.29075px 2.29075px rgba(0, 0, 0, 0.25); */
  background: rgba(31, 174, 255, 0.11);
  border: 0.1px solid #1faeff;
  box-sizing: border-box;
  color: #1faeff;
}
.buttonview {
  padding: 8px 30px;
}

.img_desktop {
  display: block;
  /* padding: 5px; */
  border-radius: 20px;
}
.img {
  display: flex;
  justify-content: center;
}
.img_mobile {
  display: none;
}

.listmobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .backbtn {
    position: absolute;
    top: -40px;
    left: 10%;
    font-size: 1.5rem;
  }

  .img_desktop {
    display: none;
  }

  .img_mobile {
    display: block;
    width: 70%;
    border: 2px solid #49e9ff;
  }
  .main2 {
    display: block;
    border: none;
    width: 56%;
    margin-top: 80px;
    /* margin-left: 25%; */
  }
  .main {
    margin-top: -80px;
  }
  .content {
    margin-top: 10px;
    border: 1px solid transparent;
    padding: 20px;
    border-image: linear-gradient(90deg, rgb(0, 238, 255), rgb(255, 0, 255));
    border-image-slice: 1;
    margin-top: 50px;
  }
  .list {
    display: none;
  }
  .listmobile {
    display: block;
  }
  .listmobile li {
    display: inline-flex;
  }

  .listmobile ul {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    height: 80px;
    min-width: 440px;
  }

  .img_desktop {
    border: 2px solid #49e9ff;
    width: 80%;
  }
  .main ul {
    width: 300px;
  }
  .main li {
    margin-top: 20px;
  }
  .next {
    margin-left: 40px;
  }
  .prev {
    margin-right: 40px;
  }

  .button {
    margin-top: 70px;
  }

  .contact_table {
    margin: 50px 0px 20px 15%;
  }
}

@media screen and (max-width: 550px) {
  .backbtn {
    top: -20px;
    left: 10%;
    font-size: 1.2rem;
  }

  .contact_table {
    margin: 50px 0px 20px 7%;
  }

  .contact_table td {
    width: 180px;
    padding: 5px;
  }

  .main2 {
    display: block;
    border: none;
    width: 90%;
    margin-top: 50px;
    /* margin-left: 6%; */
  }

  .main ul {
    width: 260px;
  }
  .listmobile ul {
    height: 70px;
    min-width: 140px;
  }
  .main {
    margin-top: -140px;
  }
  .titles {
    font-size: 0.9rem;
  }

  .listmobile li {
    font-size: 1rem;
  }
  .des {
    font-family: "quantico";
    font-size: 0.8rem;
    margin-top: 30px;
  }
  .next,
  .prev {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 380px) {
  .main ul {
    width: 200px;
  }
}
