* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
  color: white;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "batman_forever";
  src: url("/fonts/batman_forever/batmfa__.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "quantico";
  src: url("/fonts/quantico/quantico.regular.ttf");
  font-style: normal;
  font-display: swap;
}
